#main-navbar {
  background-color: rgb(246, 41, 144);
  overflow:hidden;
}
#navbar-container{
  text-align: center;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}
#main-navbar ul li{
  float: left;
}
#main-navbar ul li a{
  position: relative;
  display: block;
  padding: 10px 20px;
  color: rgb(255, 252, 254);
  text-decoration: none;
}
body {
  background-color: mistyrose;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color:rgb(246, 41, 144);
  padding: 2%;
  margin: 25px 50px 75px 100px;
}
#name {
  font-family: 'silkscreen';
  color:rgb(246, 41, 144);
  font-weight: bolder;
  text-align:left;
  position: sticky;
  font-size: 60px;
  padding: 1%;
}
h2 {
  color:rgb(250, 0, 125);
  position: sticky;
  font-size: 35px;
  padding: .75em;
}
h4 {
  color:rgb(250, 0, 125);
  font-size: 1.2em;
  font-weight:lighter;
  padding-bottom: 2%;
  padding-top:0.5em;
}
#contact {
  position: sticky;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 2%;
}
ul{
  list-style-type: none;
}
#portfolio {
  float: none;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding-top: 0%;
  padding-bottom: 2%;
  font-style: italic;
}
#class{
  max-width: 100%;
  max-height: 75%;
}
#arabesque{
  max-width: 200px;
  max-height: 200px;
}
#blackwhite{
  max-width: 100%;
  max-height: 100%;
}
#powderdance{
  max-width: 20em;
  max-height: 20em;
}
#map{
  position: absolute;
  width: 50%;
  height: 50%;
}
@media screen and (min-width:500px) {
  #box{
    background-color: aliceblue;
    padding:0%;
    border:5px double black;
  }
  #main-navbar ul li a:hover {
    background-color: white;
    color:black;
  }
}
@media screen and (min-width:500px) {
  #map{
    border:5px solid black;
    float: inline-start;
    margin:auto auto auto auto;
    width: 75%;
    height:75%;
  }
  #store{
    font-weight: bolder;
    font-size:20px;
  }
}